<?php
define('DIR','http://file-vault.com/');
define('DB_TYPE','mysql');
define('DB_HOST','localhost');
define('DB_NAME','users');
define('DB_USER','phpmyadmin');
define('DB_PASS','vanjavk321');


?>
